h1 Search for contests
div(ng-controller="ContestSearchCtrl")
	input(type="text" id="searchBar" ng-model="searchStr")
	button(ng-click="find()" id="searchButton") Find by title and tag
	br
	br
	hr

	h2 {{ searchStr }}
