$bodyBackground: #EEE;
$sunzoraOrange: #FFA834;
$headline: #FFF;

/* clear your css here */
html, body, ul, ol, header, h2, h1 {
	margin: 0;
	padding: 0;
}

body {
	background-color: $bodyBackground;
	font-family: "Comic Sans MS", Arial;
}


/* Login Page */
div.loginPage {
	header {
		width: 100%;
		height: 15em;
		background-color: $sunzoraOrange;
		padding-top: 3em;
		h2, img {
			display: block;
			text-align: center;
			color: $headline;
			margin: 0 auto;
			font-size: 4em;
		}
	}
	section.body {
		width: 100%;
		div.loginForm {
			width: 20em;
			display: block;
			text-align: center;
			margin: 0 auto;
			label {
				font-size: 1.6em;
			}
			input {
				width: 15em;
				height: 2em;
			}
		}
	}
}


header.main {
	height: 7em;
	width: 100%;
	background-color: $sunzoraOrange;
	nav {
		display: table;
		margin: 0 auto;
		padding-top: 1em;
		width: 39em;
		a.title {
			display: block;
			float: left;
			width: 21em;
			height: 4.5em;
			background-size: 100% 100%;
			background-image: url("/img/icons/sunzorawhite.png");
		}
		div.welcomeUser {
			display: block;
			float: left;
			width: 12em;
			height: 4.5em;
			text-align: center;
			padding-top: 1em;
			vertical-align: middle;
			color: #fff;
		}
		a.search {
			display: block;
			float: right;
			width: 5em;
			height: 5em;
			background-size: 100% 100%;
			background-image: url("/img/icons/searchwhite.png");
		}
	}
}

footer.main {
	position: fixed;
	bottom: 0;
	height: 7em;
	width: 100%;
	background-color: $sunzoraOrange;
	nav {
		display: table;
		margin: 0 auto;
		ul {
			list-style-type: none;
			li.navitem {
				width: 6em;
				height: 6em;
				float: left;
				margin: .25em 1em;
				cursor: pointer;
				background-size: 100% 100%;
				a {
					display: block;
					width: inherit;
					height: inherit;
				}
				&#create { 
					background-image: url("/img/icons/createwhite.png"); 
					&:hover { 
						background-image: url("/img/icons/creategray.png"); 
					}
				}
				&#messages { 
					background-image: url("/img/icons/messagewhite.png"); 
					&:hover { 
						background-image: url("/img/icons/messagegray.png"); 
					}
				}
				&#judge { 
					background-image: url("/img/icons/judgewhite.png"); 
					&:hover { 
						background-image: url("/img/icons/judgegray.png"); 
					}
				}
				&#compete { 
					background-image: url("/img/icons/competewhite.png"); 
					&:hover { 
						background-image: url("/img/icons/competegray.png"); 
					}
				}
				&#settings { 
					background-image: url("/img/icons/settingswhite.png"); 
					&:hover { 
						background-image: url("/img/icons/settingsgray.png"); 
					}
				}
			}
		}
	}
}