include includes/backButton

h1 Add your avatar
table.formTable(ng-controller="UserAvatarUploadCtrl")
	tr
		td
			label Avatar
		td
			//input(type="file" name="avatar" accept="image/*" onchange="angular.element(this).scope().filesChanged(this)")
			input(type="file" ng-file-select="onFileSelect($files)")
			img.preview(ng-src="{{imageSrc}}")
	tr
		td(colspan="2")
			button(ng-click="update()") Update Account