h1 Change Password
p (limited functionality; currently it just accepts whatever you put in the new password field)
table.formTable(ng-controller="UserChangePasswordCtrl")
	tr
		td
			label Current Password
		td
			input(type="password" ng-model="currentPassword")
	tr
		td
			label New Password
		td
			input(type="password" ng-model="newPassword")
	tr
		td
			label Confirm Password
		td
			input(type="password" ng-model="confirmPassword")
	tr
		td(colspan="2")
			button(ng-click="submit()") Submit
