h1.title Settings (new)
nav.bigLinks
	ul
		li
			div.menuItem
				a(ui-sref="settings.avatar") Add Avatar
			div.menuItem
				a(ui-sref="settings.changePassword") Change Password
		li
			div.menuItem
				a(ui-sref="settings.viewResults") My Results
		li
			div.menuItem
				a(ui-sref="settings.terms") Terms & Conditions
		li
			div.menuItem
				a(ui-sref="settings.contact") Contact Us
	hr