include includes/backButton

h1 Results

nav.bigLinks
	ul(class="bigItemList" ng-repeat="result in results")
		li
			div.menuItem
				img.thumbnail(ng-src="/api/entry/content/{{result.entry}}") 
				span {{result.title}} | {{result.deadline}} | {{result.rank}}/{{result.totalEntries}} | {{result.score}} | {{result.totalVotes}}/{{result.totalEntries}}
