header(class="main")
	nav(ng-controller="UserLogoutCtrl")
		a(class="title")
		div(class="welcomeUser")
			span Hello, {{currentUser.email}}!
			br
			a(href="/logout" ng-click="logout()") Log out
		a(class="search")

section(class="mainBody")
	ui-view

footer(class="main")
	nav
		ul
			li(class="navitem" id="create")
				a(ui-sref="create.home")
			li(class="navitem" id="messages")
				a(ui-sref="messages.home")
			li(class="navitem" id="judge")
				a(ui-sref="judge.home")
			li(class="navitem" id="compete")
				a(ui-sref="compete.home")
			li(class="navitem" id="settings")
				a(ui-sref="settings.home")