header(class="main")
	nav
		a(class="title")
		a(class="search")

ui-view

footer(class="main")
	nav
		ul
			li(class="navitem" id="create")
				a(ui-sref="create.home")
			li(class="navitem" id="messages")
				a(ui-sref="messages.home")
			li(class="navitem" id="judge")
				a(ui-sref="judge.home")
			li(class="navitem" id="compete")
				a(ui-sref="compete.home")
			li(class="navitem" id="settings")
				a(ui-sref="settings.home")