header(class="main")
	nav(ng-controller="UserLogoutCtrl")
		a(class="title" ui-sref="root.home")
		div(class="welcomeUser")
			table
				tr
					td
						img(ng-src="/api/user/avatar/{{currentUser._id}}")
					td
						span Hello, {{currentUser.email}}!
						br
						a(href="/logout" ng-click="logout()") Log out
		a(class="search" ui-sref="search.home")
section(class="mainBody")
	ui-view

footer(class="main")
	nav
		ul
			li(class="navitem" ng-class='{ "active" : title == "create"}' id="create")
				a(ui-sref="create.home")
			li(class="navitem" ng-class='{ "active" : title == "messages"}' id="messages")
				a(ui-sref="messages.home")
			li(class="navitem" ng-class='{ "active" : title == "judge"}' id="judge")
				a(ui-sref="judge.home")
			li(class="navitem" ng-class='{ "active" : title == "compete"}' id="compete")
				a(ui-sref="compete.home")
			li(class="navitem" ng-class='{ "active" : title == "settings"}' id="settings")
				a(ui-sref="settings.home")