doctype
html(lang="en", ng-app="app")
    head
        title Sunzora 
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(charset="utf-8")
        //- javascripts
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.js")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-route.js")
        //- script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-touch.js")
        script(src="/lib/angular-ui-router.min.js")
        //- root angular dependencies
        //- script(src="/app/app.js")
        //- script(src="/app/directives.js")
        //- script(src="/app/filters.js")
        script(src="/app/test.js")


    body
        div(class="container" ng-app="app")
            header(ng-include="'templates/nav.html'")
            ui-view
            footer(ng-include="'templates/footer.html'")

        //- set current user if it exists. else set to null.
        if !!currentUser
          script.
            window.currentUser = !{JSON.stringify(currentUser)}
            // console.log("CURRENT USER");
            // console.log(currentUser);
        else
          script.
            window.currentUser = {}

        //- reference the custom angular dependencies
        //- include ng-modules
        //- include ng-services
        //- include ng-controllers
        //- include ng-directives
        //- include ng-routes
