//- angular routes
script(src="/app/ui-routes/sunzora-routes.js")
script(src="/app/ui-routes/user-routes.js")
script(src="/app/ui-routes/invite-routes.js")
script(src="/app/ui-routes/message-routes.js")
script(src="/app/ui-routes/contest-routes.js")
script(src="/app/ui-routes/entry-routes.js")
script(src="/app/ui-routes/award-routes.js")
