h1 this is the sign up page

h2 competeState: {{ competeState }}

h2 judgeState: {{ judgeState }}

button(ng-click="judgeContest()") Judge this contest
button(ng-click="competeInContest()") Compete in this contest