a(ui-sref="create.new") Create new contest
hr

h1.title Here are my contests
nav.bigLinks
	ul(class="bigItemList" ng-repeat="contest in contests")
		li
			div.menuItem
				a(ui-sref="create.edit({id: '{{contest._id}}' })")
					img.thumbnail(ng-src="/api/contest/banner/{{contest._id}}") 
					//-img(ng-src="{{contest.imageUrl}}")
				span {{ contest.title }}
				button(ng-click="deleteContest('{{contest._id}}')") Delete {{ contest.title }}