a(ui-sref="create.new") Create new contest
hr

h1.title Here are my contests
nav.bigLinks(ng-controller="ContestListCtrl")
	ul(class="bigItemList" ng-repeat="contest in contests")
		li
			div.menuItem
				a(ui-sref="create.edit({id: '{{contest._id}}' })")
					img(ng-src="/api/contest/banner/{{contest._id}}") 
					span {{ contest.title }}