include includes/backButton

h1 Create New Contest
table.formTable(ng-controller="ContestCreateNewCtrl")
	tr
		td
			label Title:
		td
			input(type="text" ng-model="title")
	tr
		td
			label Tags:
		td
			input(type="text" ng-model="tags")
	tr
		td
			label Rules:
		td
			textarea(ng-model="rules")
	tr
		td
			label Deadline:
		td
			select(ng-model="myMonth" ng-options='month.name for month in months')
			select(ng-model="myDay" ng-options='day.name for day in days')
			select(ng-model="myYear" ng-options='year.name for year in years')
			br
			select(ng-model="myHour" ng-options='hour.name for hour in hours')
			span :
			select(ng-model="myMinute" ng-options='minute.name for minute in minutes')
	tr
		td(colspan="2")
			button(ng-click="create()") Create Contest



